@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.75rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;

    font-size: 125%;
  }

  [data-mode="dark"] {
    --hue: 216;

    --background: var(--hue) 16% 8%;
    --foreground: var(--hue) 5% 90%;
    --card: var(--hue) 26% 8%;
    --card-foreground: var(--hue) 5% 90%;
    --popover: var(--hue) 26% 5%;
    --popover-foreground: var(--hue) 5% 90%;
    --primary: var(--hue) 45% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: var(--hue) 20% 18%;
    --secondary-foreground: 0 0% 100%;
    --muted: var(--hue) 20% 15%;
    --muted-foreground: var(--hue) 5% 60%;
    --accent: var(--hue) 26% 15%;
    --accent-foreground: var(--hue) 5% 90%;
    --destructive: 0 70% 60%;
    --destructive-foreground: var(--hue) 5% 90%;
    --border: var(--hue) 26% 18%;
    --input: var(--hue) 26% 18%;
    --ring: var(--hue) 46% 59%;
    --radius: 0.75rem;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --sidebar-background: var(--hue) 18% 12%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: var(--hue) 18% 19.5%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: var(--hue) 19.5% 22%;
    --sidebar-ring: 217.2 91.2% 59.8%;

    --message-bubble-sent: hsl(var(--hue) 45% 50% / 0.8);
    --message-bubble-sent-reply: hsl(var(--hue) 43% 52% / 0.95);
    --message-bubble-recv: hsl(var(--hue) 18% 19.5% / 0.8);
    --message-bubble-recv-reply: hsl(var(--hue) 16% 25%);
  }

  svg.logo {
    .p1 {
      fill: hsl(194, 100%, 81%);
    }
    .p2 {
      fill: hsl(193, 100%, 63%);
    }
    .p3 {
      fill: hsl(198, 100%, 50%);
    }
    .p4 {
      fill: hsl(218, 100%, 53%);
    }
  }

  * {
    @apply border-border;
    font-family: var(--font-geist, "Inter"), Arial, Helvetica, sans-serif;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .sidebar-inset-scrollarea {
    @apply [&::-webkit-scrollbar]:w-3;

    &::-webkit-scrollbar-track {
      @apply bg-transparent;
    }

    &::-webkit-scrollbar-thumb {
      border: 0.25rem solid var(--custom-scrollbar-bg, theme("colors.background"));
      min-height: 50px;
      @apply bg-slate-600 rounded-sm;
    }
  }

  .message-input-wrapper::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1.5rem;
    bottom: 100%;
    /* background: linear-gradient(0deg, theme("colors.background"), transparent); */
    pointer-events: none;
    @apply bg-gradient-to-t from-background/35 to-transparent;
  }
  .message-input {
    @apply [&::-webkit-scrollbar]:w-1.5;

    &::-webkit-scrollbar-track {
      @apply bg-transparent;
    }

    &::-webkit-scrollbar-thumb {
      min-height: 50px;
      @apply bg-slate-600 rounded-sm;
    }

    [data-slate-string="true"] {
      word-break: break-all;
    }

    [data-slate-node="text"] {
      display: inline-block;
      width: 100%;
    }
  }

  .message.received + .message.sent {
    margin-top: theme("margin.3");
  }
  .message.sent + .message.received {
    margin-top: theme("margin.3");
  }

  .message {
    word-break: break-all;
  }
}
